.rankIndex{
  .header{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    >View:last-child{
      margin-right:40px ;
    }
    .top{
      // width: 40px;
      margin-left: 20px;
    }
    .btcName{
      margin-left: 50px;
    }
    .changePercent{
      // width: 200px;
      margin-left: 100px;
    }
    // >View:first-child{
    //   margin-left: 40px;
    // }
  }
  .cont{
    
    .contTop{
      
      height: 100px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      align-items: center;
      .top{
        // width: 40px;
        margin-left: 20px;
      }
      .btcImg{
        
        // width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        Image{
          width: 30px;
          height: 30px;
        }
        >View{
          font-size: 27px;  
          width: 200px;
          // line-height: 80px;
          margin-left: 20px;
        }
      }
    }
  }
}

.up{
  color: red;
}
.down{
  color: rgb(14, 151, 14)
}