.rankIndex {
  background: #1d2228;
}
.rankIndex .header {
  color: #77787a;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}
.rankIndex .header > View:last-child {
  margin-right: 40px ;
}
.rankIndex .header .top {
  margin-left: 20px;
}
.rankIndex .header .btcName {
  margin-left: 50px;
}
.rankIndex .header .changePercent {
  margin-left: 100px;
}
.rankIndex .cont .contTop {
  height: 125px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #313131;
  align-items: center;
}
.rankIndex .cont .contTop .top {
  background: #e4a001;
  padding: 3px 10px;
  margin-left: 20px;
  text-align: center;
  border-radius: 10px;
}
.rankIndex .cont .contTop .top .Text {
  text-align: center;
}
.rankIndex .cont .contTop .btcImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rankIndex .cont .contTop .btcImg Image {
  width: 40px;
  height: 40px;
}
.rankIndex .cont .contTop .btcImg > View {
  font-size: 28px;
  margin-left: 20px;
}
.up {
  color: red;
}
.down {
  color: #0e970e;
}
.rank1 {
  color: #fefefe;
}
