.rankIndex{
  .header{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
  }
  .cont{
    
    .contTop{
      height: 100px;
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid #eee;
      align-items: center;
      .btcImg{
        display: flex;
        justify-content: center;
        align-items: center;
        Image{
          width: 30px;
          height: 30px;
        }
        View{
          // line-height: 80px;
        }
      }
    }
  }
}